<div class="container">
  <center>
    <h3>Here is your random <%= @dog %> Gif!</h3><br>
    
    <%= image_tag @gif.image_url %>
    <br><br>
    <%= link_to "Find another Gif", "/" %>
    <br><br>
    <%= render partial: 'email', locals: { gif: @gif } %>
  </center>
</div>