<nav class="navbar navbar-dark bg-dark rounded">
  <a class="navbar-brand" href="#">
  <%= image_tag "small_logo.png", style: 'height:20vw, width:20vw' %>
    
  <a href="/" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-home"></span> Home
  </a>
  
</nav>